@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) and (max-width: 1300px) {
  .flex-col-medium {
    flex-direction: row;
  }

  .w-full-medium {
    width: 100%;
  }

  .w-half-medium {
    width: 50%;
  }
}

@media (max-width: 1023px) {
  #body, #blackback {
    height: 100vh;
  }

}


#body, #blackback {
  height: 100vh;
}

#blackback {
  background-color: black;
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%; 
}
#image{
  z-index: 0 ;
}
#image-con{
  z-index: 0;
}



#earth {
  /* 1738.5px  old image size */
    width:50%;
    height:50%;
    position: relative;
    overflow: hidden;
    pointer-events: none;
    aspect-ratio: 1 / 1;
    max-width: 855px;
        max-height: 855px;
        background: url(/map_with_pins_2.jpg);
        border-radius: 50%;
        background-size:200% ;
        box-shadow: inset 8px 20px 70px 36px rgb(0, 0, 0),  inset -6px 0 12px 4px rgba(255, 255, 255, 0.3),
        0 0 30px 1px rgba(35, 6, 199, 0.5);
        animation-name: rotate;
        animation-duration: 48s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        -webkit-animation-name: rotate;
           -webkit-animation-duration: 48s;
           -webkit-animation-iteration-count: infinite;
           -webkit-animation-timing-function: linear; 
      }
      @keyframes rotate {
        from {
          background-position: 0px 0px;
        }
        to {
          background-position: 1738.5px 0px;
        }
      }
      @-webkit-keyframes rotate {
        from {
          background-position: 0px 0px;
        }
        to {
          background-position: 1738.5px 0px;
        }
      }


      /* #gray-overlay {
        z-index:40;
      }

      #sidebar {
        z-index: 30;
      }

      #modal {
        z-index: 1000;
      }

      #modal-container {
        z-index: 1000;
      } */

      #navabr {
        z-index: 1000;
      }

    
